<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.employeemanagementsystem">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/workico"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/workico_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EmployeeManagementSystem">
        <activity
            android:name=".FeedBack"
            android:exported="true" />
        <activity
            android:name=".RemoveEmp"
            android:exported="true" />
        <activity
            android:name=".EditDeta"
            android:exported="true" />
        <activity
            android:name=".ViewEmp"
            android:exported="true" />
        <activity
            android:name=".AddEmp"
            android:exported="true" />
        <activity
            android:name=".StuffList"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>